.b-third {
    background-image: url("../images/people.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #e4ecf9;
    .screen-desktop-1420({
        background: none;
    });
  .b-line {
    & > div {
      background-color: #eff2fb;
      &:first-child {

      }
      &:nth-child(2) {
        height: 20%;
      }
      &:nth-child(5) {
        height: 18%;
      }
      &:nth-child(6) {
        height: 13%;
      }

    }
  }
  .container {
    .screen-desktop-1420({
      background-image: url("../images/people.jpg");
      background-position: bottom;
      background-repeat: no-repeat;
      background-color: #e4ecf9;
    });
  }
  &__wrap {
    position: relative;
    height: 92vh;
    z-index: 100;
    min-height: 810px;
    max-height: 1000px;
  }
  &__title {
    cursor: default;
    position: relative;
    padding-top: 142px;
    margin-left: 60px;
    margin-bottom: 110px;
    h2 {
      font-family: @Intro;
      color:  @blueLight;
      font-size: 14px;/* Приближение из-за подстановки шрифтов */
      font-weight: 400;
      line-height: 24px;/* Приближение из-за подстановки шрифтов */
      text-align: left;
    }
    span  {
      position: absolute;
      left: -158px;
      bottom: 0;
      font-family: @Intro;
      color:  @blueLight;
      font-size: 60px;/* Приближение из-за подстановки шрифтов */
      font-weight: 400;
      line-height: 1;/* Приближение из-за подстановки шрифтов */
      text-align: left;
    }
  }

  &__bottom {
    display: flex;
  }
  &__video {
    position: relative;
    padding: 10px;
    background-color: #fff;
    box-shadow:0px 25px 19px -10px rgba(183, 192, 207, 0.8);
    margin-right: 90px;
    height: 100%;
    &-inner {
      position: relative;
      width: 704px;
      padding-bottom: 56.2%; /* Ð·Ð°Ð´Ð°Ñ‘Ñ‚ Ð²Ñ‹ÑÐ¾Ñ‚Ñƒ ÐºÐ¾Ð½Ñ‚ÐµÐ¹Ð½ÐµÑ€Ð° Ð´Ð»Ñ 16:9 (ÐµÑÐ»Ð¸ 4:3 â€” Ð¿Ð¾ÑÑ‚Ð°Ð²ÑŒÑ‚Ðµ 75%) */
      height: 0;
      overflow: hidden;
      text-align: center;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background: rgba(104, 147, 231, 0.7);
        z-index: 20;
        opacity: 1;
        transition: 0.3s ease-in-out;
      }
      &.active {
        &:after {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
    &-button {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 100px;
      height: 100px;
      background-image: url("../images/ico/play.svg");
      cursor: pointer;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 30;
      opacity: 1;
      transition: 0.3s ease-in-out;
      &.active {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &__info {
    &-serf {

      display: flex;
      align-items: center;
      p {
        width: 224px;
        margin-bottom: 0px;
        margin-right: 45px;
        span {
          display: block;
          font-family: @Roboto;
          color:  #000000;
          font-size: 14px;/* Приближение из-за подстановки шрифтов */
          font-weight: 300;
          line-height: 21px;/* Приближение из-за подстановки шрифтов */
          text-align: left;
        }
      }
    }
    &-protect {
      margin-top: 30px;
      width: 215px;
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 40px;
      background-color:  #ffffff;
      border-radius: 7px;
      box-shadow: 0px 8px 18px 0px rgba(0, 0, 0, 0.06);
      img {
        display: block;
        margin-bottom: 46px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}